// palette: http://www.colourlovers.com/palette/3386265/Abada_Kedabra_Sparks
    $lightest:          #f0f8ed;
    $light:             #d2e9e4;
    $accent-mid:        #33a77a;
    $accent-dark:       #277976;
    $accent-darkest:    #226572;

// === 1.  Baseline
body {
    background-color: $lightest;
    color: black;
}
html, body {
    height: 100%;
    width: 100%;
    &:after {
        content: '';
        display: block;
        clear: both;
    }
}

// === 3.  Typography

body {
    font-size: 16px;
    font-size: 1rem;
    font-family: Helvetica Neue, Helvetica, arial, sans serif;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}
bold, strong {
    font-weight: bold;
}
em, i {
    font-style: italic;
}

// === 4.  Elements

a {
    color: $accent-dark;
    &:hover, &:focus {
        color: $accent-darkest;
    }
}

// === 5.  Components

.content-form {
    max-width: 640px;
    padding: 20px;
    margin: 0 auto;
}
label {
    display: block;
    padding: 7px 0;
}
.js select {
    display: none;
}
label {
    cursor: pointer;
}
.content-wrapper {
    margin: 0 0 20px;
    &:after {
        content: '';
        display: block;
        clear: both;
    }
}
.naturalSelection {
    a:link, a:visited {
        color: #333;
    }
    a:hover, a:focus {
        color: #000;
    }
    &-active {
        border: 1px solid grey;
        background: white;
        color: black;
        font-weight: bold;
        &:hover, &:focus {
            color: black;
        }
    }
    &-inner {
        border: 1px solid grey;
        background: white;
        .active a {
            font-weight: bold;
        }
        a {
            text-decoration: none;
            color: #000;
            &:hover, &:focus {
                background: $light;
                color: #000;
            }
        }
    }
}

.button {
    font-family: Helvetica Neue, Helvetica, arial, sans serif;
    font-size: 1rem;
    padding: 6px 12px;
    background: $light;
    border: 1px solid $accent-darkest;
    color: $accent-darkest;
    border-radius: 12px;
    cursor: pointer;
    // font-weight: 100;
    letter-spacing: 1px;
    transition: background-color 0.5s ease;
    &-wrapper {
        text-align: center;
    }
    &:hover {
        background: $accent-mid;
    }
}


@media screen and (min-width: 640px) {

    label {
        float: left;
        width: 50%;
    }

    .naturalSelection {
        &-wrapper {
            float: right;
            width: 50%;
        }
    }
    .button {
        &-wrapper {
            text-align: right;
        }
    }
}